body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  line-height: 18px;
  color: #555;
  width: 140px;
  background-color: white;
  border-radius: 25px;
  
}
.legend i {
  background-color: white;
  width: 100px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend-color-box {
  margin-left: 8px;
}